/* You can add global styles to this file, and also import other style files */


body {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

::ng-deep .menu-custom-style {
  background-color: red;
}

.mat-mdc-menu-content {
	background-color: white;
}