<div class="main-container">
	<h1>Lanes</h1>
	<div *ngFor="let lane of classificationModel.lanes">
		Lane #{{lane.id}}: <input type="text" [(ngModel)]="lane.label"/>
		<br/>
		<input type="checkbox" [(ngModel)]="lane.showIfEmpty"/>Show if emtpy
		<br/>
		<input type="checkbox" [(ngModel)]="lane.highlightIfNotAssigned"/>Highlight Jira if not assigned
		&nbsp;style=
		<input type="text" [(ngModel)]="lane.highlightIfNotAssignedStyle"/>
		<br/>
		<input type="checkbox" [(ngModel)]="lane.highlightAll"/>Highlight all Jiras
		&nbsp;style=
		<input type="text" [(ngModel)]="lane.highlightAllStyle"/>
		
		<div class="lane-controls">
			<button (click)="deleteLane(lane)">Delete lane</button>
			<button (click)="moveLaneDown(lane)">Move down</button>
			<button (click)="moveLaneUp(lane)">Move up</button>
		</div>
		<hr/>
	</div>
	<button (click)="addLane()">Add Lane</button>
	<br/>
	<h1>Classification Rules</h1>
	<div *ngFor="let classificationRule of classificationModel.classificationRules">
		<div style="float:left">
			<div *ngFor="let cond of classificationRule.conditions; let i = index" class="cond">
				<span *ngIf="i == 0">If</span>
				<span *ngIf="i > 0"> and if</span>
				&nbsp;
				<select [(ngModel)]="cond.conditionType">
					<option *ngFor="let c of CONDITION_TYPES" [ngValue]="c">{{getConditionTypeLabel(c)}}</option>
				</select>
				&nbsp;
				<select *ngIf="cond.conditionType == 3 || cond.conditionType == 4" [(ngModel)]="cond.value">
					<option *ngFor="let s of statuses" [ngValue]="s[0]">{{s[1]}}</option>
				</select>
				&nbsp;
				<input type="text" *ngIf="cond.conditionType == 1 || cond.conditionType == 2" [(ngModel)]="cond.value"/>
				&nbsp;&nbsp;<button (click)="deleteCondition(classificationRule.conditions, cond)">x</button>
			</div>
			then pick lane
			&nbsp; 
			<select [(ngModel)]="classificationRule.laneId">
				<option value="">-- no lane --</option>
				<option *ngFor="let l of classificationModel.lanes" [ngValue]="l.id">{{l.label}}</option>
			</select>
			<br/>
			<button (click)="addCondition(classificationRule)">add condition</button>
		</div>
		<div style="float:right">
			<button (click)="deleteClassificationRule(classificationRule)">Delete classification rule</button>
			<button (click)="moveClassificationRuleDown(classificationRule)">Move down</button>
			<button (click)="moveClassificationRuleUp(classificationRule)">Move up</button>
		</div>
		<div style="clear:both"></div>
		<hr/>
	</div>
	<button (click)="addClassificationRule()">Add classification rule</button>
	
</div>
<div style="float:right; padding:15px;">
	<table>
		<tr>
			<td>&nbsp;</td>
			<td align="right">
				<button (click)="cancel()">Cancel</button>
				<button (click)="save()">Save</button>
			</td>
		</tr>
	</table>
</div>
