.lanes-container {

}

h2 {
	margin-top:5px;
	text-align: center;
}

.warning {
	color: #800000;
}

.reload-timestamp, .toolbar-button {
	float: right;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 8px;
}

.toolbar-button {
	cursor: pointer;
}

.all-sprints-container {
	padding: 10px;
}

.lanes-container {
	display: flex;
}


.lane {
	float:left;
	border: 1px solid #C0C0DD;
	background-color: #F0F0F0;
	margin-left:10px;
	padding: 5px;
	min-width: 150px;
	overflow: hidden;
}

.no-items-in-lane {
	color: #505050;
    display: table;
    margin: 0 auto;
}

.lds-hourglass {
	position: absolute;
	top:200px;
	left:300px;
}

.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


	